@import url('https://fonts.googleapis.com/css2?family=Itim&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
background-color: #FFD0B8;
font-family: "Mali", sans-serif;
}

:global(.font-bold) {
 font-family: "Itim", sans-serif;
}

.divider {
    background-image : linear-gradient(to right, rgba(255,0,0,0), 
    rgba(223, 152, 156, 1), rgba(255,0,0,0));
}

.bto {
    max-width: 88px;
    max-height: 31px;
    display: inline;
}